<%= link_to "Back to books", books_path %>

<h1>Editing book</h1>

<div class="books edit">
  <%= form_for(@book) do |f| %>
    <% # url: books_path(@book), method: 'patch' %>
    <table summary="Book form fields">
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th><%= f.label :author %></th>
        <td><%= f.text_field :author %></td>
      </tr>
      <tr>
        <th><%= f.label :price %></th>
        <td><%= f.number_field :price, step: '0.01' %></td>
      </tr>
      <tr>
        <th><%= f.label :date_published %></th>
        <td><%= f.date_field :date_published %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Edit Book") %>
    </div>
    <% end %>
</div>