<% flash.each do |type, message| %>
  <p style="color: <%= type == 'notice' ? 'green' : 'red' %>"><%= message %></p>
<% end %>

<div>
  <%= link_to "Back to books", books_path %>
</div>

<h1>New book</h1>

<div class="books new">
  <%= form_for(@book) do |f| %>
    <% # url: books_path, method: 'post' %>
    <table summary="Book form fields">
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <th><%= f.label :author %></th>
        <td><%= f.text_field :author %></td>
      </tr>
      <tr>
        <th><%= f.label :price %></th>
        <td><%= f.number_field :price, step: '0.01' %></td>
      </tr>
      <tr>
        <th><%= f.label :date_published %></th>
        <td><%= f.date_field :date_published %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Book") %>
    </div>
    <% end %>
</div>
